body {
	background-color: #f8f9fa;
}

header {
	background-color: #343a40;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
}

.user-info {
	font-size: 18px;
}

#logout {
	background-color: #dc3545;
	border-color: #dc3545;
	border-radius: 20px;
	font-size: 14px;
	padding: 5px 10px;
	transition: background-color 0.3s ease;
}

#logout:hover {
	background-color: #c82333;
}

h2 {
	color: #343a40;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 700;
	margin-bottom: 30px;
}

.image-container {
	position: relative;
	margin-bottom: 20px;
}

.img-thumbnail {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease-in-out;
}

.img-thumbnail:hover {
	transform: scale(1.05);
}

.checkbox-container {
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 5px;
	border-radius: 5px;
}

.image-container:hover .checkbox-container {
	display: block;
}

.checkbox-container input {
	transform: scale(1.5);
}

.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
	border-radius: 30px;
	font-size: 18px;
	padding: 10px;
	transition: background-color 0.3s ease;
}

.btn-primary:hover {
	background-color: #0056b3;
}
